.container {
    display: grid;
    justify-content: center;
    height: 100vh;
    margin: 10px;
  }


  .mainItem{
    grid-column-start: 1;
    grid-column: 12;
    align-self: center;
   
    padding: 20px;
   
  }
.space{
    padding-right:10px; 
  }

body{
  
    background-color: #872187;
    margin: 0px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: white;
}

a{
    color: #f2f2f2;
}

a:hover{
    color: gray;
}
.disabled{
    background-color: #3A083A;
    color: white;
    margin-bottom: 25px;
    padding: 25px;
}
.avatar{
    border-radius: 50%;
}

